<html>
	<head></head>
	<style>
	</style>
	<body>
	<form method="post">
		<center>
		<br><br>
			<h1>SIPp Automation</h1>
			<br><br>
			<label>SBCE IP	:</label>
			<input type = "text" id = "sbceIP" value = "" /><br><br><br>
			<table>
				<tr> 
					<input type="submit" value="Scenario Builder" formaction="/builder" >
					&nbsp&nbsp&nbsp&nbsp
				</tr>
				<tr>
					<input type="submit" value="Scenario Executer" formaction="/executer" >
			&nbsp&nbsp&nbsp&nbsp
				</tr>
				<tr>
					<input type="submit" value="Add Configuration" formaction="/configuration" >
				</tr>
			</table><br>
		</center>
	</form>
	</body>
</html>
